{% if no_username_msg %}
<p><strong>Pseudo non changé</strong></p>
{% endif %}
{% if no_first_name_msg %}
<p><strong>Prenom non changé</strong></p>
{% endif %}
{% if no_last_name_msg %}
<p><strong>Nom non changé</strong></p>
{% endif %}
{% if no_email_msg %}
<p><strong>Email non changé</strong></p>
{% endif %}
{% if no_contact_msg %}
<p><strong>Contact non changé</strong></p>
{% endif %}

{% if no_pass_msg %}
<p><strong>Mot de passe non changé</strong></p>
{% endif %}
{% if error %}
<p><strong>une erreur inhabituelle est survenue</strong></p>
{% endif %}
<form method="post" action="{% url 'spaces:edit_profile' user.id %}" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
        {{form.username.label}}
        {{form.username}}
    </p>

    <p>
        {{form.first_name.label}}
        {{form.first_name}}
    </p>

    <p>
        {{form.last_name.label}}
        {{form.last_name}}
    </p>

    <p>
        {{form.contact.label}}
        {{form.contact}}
    </p>

    <p>
        {{form.email.label}}
        {{form.email}}
    </p>

    <p>
        {{form.password.label}}
        {{form.password}}
    </p>

    <p>
        {{form.password_verification.label}}
        {{form.password_verification}}
    </p>
    <p>
        {{form.avatar.label}}
        {{form.avatar}}
    </p>
    {% if error_pass_no_match %}
    <p><strong>Les mots de passes entrés ne correspondent pas.</strong></p>
    {% endif %}
    <input type="submit" value="Modifier" />
    {% if user.client.user_id != None %}
    <a href="{% url 'spaces:see_client_profile' user.id %}"> Retournez à votre profil</a>
    {% elif user.landlord.user_id != None %}
    <a href="{% url 'spaces:see_client_profile' user.id %}"> Retournez à votre profil</a>
    {% endif %}
</form>